$primary: #f2bc94;
$secondary: #00154f;
$third: #f4af1b;

//Härifrån hämtar bland annat bg
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
);

$nav-link-color: $third;

#portfolio {
  height: 800px;
}

#intro-section {
  padding-top: calc(56px + 5em);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat();
  gap: 1rem;
}

.grid-container img {
  object-fit: cover;
  width: 100%;
  // max-height: 100%;
}

.grid-container div {
  background-color: blue;
}

//Ändra font. $font-family-sans-serif:

//The colors for the links in the navbar

// $nav-link-hover-color: $third;
// $link-hover-color:  //Hur skriver jag över defaultvärdet utan att sätta ett nytt värde?

@import "../node_modules/bootstrap/scss/bootstrap.scss";
