$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #2d2926;
$secondary: #e94b3c;
$third: #f4af1b;

//Härifrån hämtar bland annat bg
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "third": $third,
);

$nav-link-color: primary;

#intro-section {
  padding-top: calc(56px + 5em);
  padding-bottom: 5em;
}

@mixin grid-placement {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.section-page {
  padding: 5em 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 1rem;

  div {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;

    img {
      @include grid-placement;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .details-grid {
      display: grid;
      background-color: $secondary;
      @include grid-placement;
      position: relative;
      z-index: 1;
      justify-items: center;
      align-items: center;
      opacity: 0;
      transition: all 0.25s ease-in-out;

      &:hover {
        opacity: 1;
      }

      h3 {
        text-align: center;
        padding: 0 0.5em;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

footer {
  padding: 4em 0;
}

.border-div {
  width: 65%;
  max-width: 25em;
  height: 0.2em;
}

//The colors for the links in the navbar

// $nav-link-hover-color: $third;
// $link-hover-color:  //Hur skriver jag över defaultvärdet utan att sätta ett nytt värde?

@import "../node_modules/bootstrap/scss/bootstrap.scss";
